<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mule.tooling.core.contribution">
      <externalContribution
      name="Debugger"
            contributionLibPathInMule="/plugins"
            contributionLibs="mule-debugger-runtime.zip"
            contributionNamespace="http://www.mulesoft.org/schema/mule/muledebugger"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/muledebugger/3.2.0/mule-muledebugger.xsd"
            contributionNamespacePrefix="muledebugger"
            contributionType="component"
            path="debugger.xml"
            version="3.2.0">
      </externalContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.mule.tooling.ui.views"
            class="org.mule.tooling.ui.contribution.debugger.view.impl.MuleDebuggerView"
            icon="icons/small/debug.png"
            id="org.mule.tooling.ui.contribution.debugger.view"
            name="Mule Debugger View"
            restorable="true">
      </view>
   </extension>

</plugin>
